<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <img :src="imgSrc" alt="">
    <img :src="avatarSrc" alt="">
    <p>{{countAdd}}</p>
    <button @click="addCount">增加</button>
  </div>
</template>

<script>
import { getUsersData } from "@/api/user.js";
import { mapGetters} from "vuex";
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      imgSrc: '',
      avatarSrc: ''
    }
  },
  computed: {
    ...mapGetters(['countAdd'])
    // countAdd(){
    //   return this.$store.getters.countAdd;
    // }
  },
  mounted(){
    this.loadUsersData();
    console.log();
  },
  methods: {
    loadUsersData(){
      // getUsersData().then(res => {
      //   console.log(res.data[0]);
      //   let user = res.data[0];
      //   this.imgSrc = user.img;
      //   this.avatarSrc = user.avatar;
      // });
      this.$store.dispatch('getUser').then(res => {
        console.log(res);
      })
    },
    addCount(){
      this.$store.commit('addCount', {n: 10});
      this.$store.dispatch('changeCount', {n: 10});
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
